footer {
    height: 400px;
    display: grid;
    grid-template-columns: 50% 50%;

    .footer-left {
        background: #161513;
        display: flex;
        justify-content: right;
        align-items: center;
        padding: 40px;

        .footer-left-content {
            width: 65%;
            text-align: left;

            h4 {
                font-family: $font3;
                font-size: 2.9rem;
                color: #A57245;
                font-weight: lighter;
                margin-bottom: 10px;
            }

            p {
                line-height: 30px;
            }
        }
    }

    .footer-right {
        background: #21201E;
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 50px;

        .footer-right-content {
            text-align: left;

            h5 {
                text-transform: uppercase;
                margin-bottom: 10px;
            }

            input {
                background: none;
                border: 1px #cccccc50 solid;
                color: #cccccc50;
                padding: 5px;
                width: 200px;
                margin-bottom: 40px;
            }

            .social {
                display: inline;
            }
        }
    }
}